
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<div class="container-fluid" ng-app="tableApp">
    <div class="row" ng-controller="mytable">
        @Html.Action("TableServerSide", "Common")
        <div style="display: none;">
            @Html.Action("AddInsurancePosition", "InsurancePosition")
        </div>
        <div style="display: none;">
            @Html.Action("EditInsurancePosition", "InsurancePosition")
        </div>
    </div>
</div>
<script src="~/Scripts/mycustom/InsurancePositionService.js"></script>
<script src="~/Scripts/mycustom/InsurancePositionUntil.js"></script>


<script>
    BuildTable('tableApp', 'mytable', '@(ViewBag.url)');
</script>
