@{
    ViewBag.Title = "Quên mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="class-md-12 hrm-login-container pd-0">
    <div class="col-md-3 box-login-left">
        <div class="content-login-left">
            <img src="~/Images/avata-small-login.png" /><span>NOVAON Talents</span>
        </div>
    </div>
    <div class="col-md-9 box-login-right">
        <div class="content-login-right-top text-center">
            <img src="~/Images/avata-larger-login.png" />
        </div>
        <div class="content-login-right-contaner text-center">
            <div class="hrmv2-form-forgot-password">
                <h4 class="text-left">Quên mật khẩu</h4>
                <p class="text-left">Hệ thống sẽ gửi mail hưỡng dẫn thiết lập mật khẩu.</p>
                <p class="text-left">Nhập địa chỉ email</p>
                <input type="email" class="form-control email forgot-email" />
                <button type="submit" class="btn btn-primary btn-hrm-green btn-send-request">
                    Gửi yêu cầu
                </button>
                <a href="@Url.Action("Index", "Authentication")">Quay lại đăng nhập</a>
            </div>
        </div>

    </div>
</div>
