
@using Hrm.Framework.Models
@using Hrm.Framework.Helper
@{
    ViewBag.Title = "Onboarding";
    Layout = "~/Views/Shared/_MenuHome.cshtml";
}
<div class="col-md-12 bread-crumb hrm-f" style="padding-left: 60px">
    <a href="#" class="bread-crumb-sc hrm-v2-font-16">Tất cả tính năng</a><span class="bread-crumb-item">&nbsp; &gt; &nbsp;</span><a href="#" class="bread-crumb-item hrm-v2-font-16">Đào tạo</a>
</div>
<div class="wapper-container">
    <section class="h-sec-item-view" style="min-height:334px">
        <h1 class="text-center">Đánh giá (beta)</h1>
        <p class="text-center text-desc">Tùy chỉnh chỉ tiêu và chính sách đánh giá phù hợp với doanh nghiệp. Đánh<br/> giá nhanh và chính xác, nâng cao năng suất làm việc của nhân sự.</p>
    </section>
</div>