@using Hrm.Framework.Models
@using Hrm.Framework.Helper
@{
    ViewBag.Title = "Onboarding";
    Layout = "~/Views/Shared/_MenuHome.cshtml";
}
<div class="col-md-12 bread-crumb hrm-f" style="padding-left: 60px">
    <a href="#" class="bread-crumb-sc hrm-v2-font-16">Tất cả tính năng</a><span class="bread-crumb-item">&nbsp; &gt; &nbsp;</span><a href="#" class="bread-crumb-item hrm-v2-font-16">Onboarding</a>
</div>
<div class="wapper-container">
    <section class="h-sec-item-view">
        <h1 class="text-center ">Onboarding (Tiếp nhân thử việc)</h1>
        <div class="col-md-12 pd-0 h-single-section text-right hrm-v2-inline-block">
            <div class="section-img pull-right">
                <img src="@Url.Content("~/Content/Images/banner/onboarding.png")" alt="pipe-hrm" />
            </div>
            <div class="section-infor pull-right h-single-section left" style="margin-right: 60px">
                <div class="icon">
                    <i class="fas fa-rocket"></i>
                </div>
                <div class="title hrm-v2-bold">
                    Tiếp nhận thử việc
                </div>
                <div class="dsc-title">
                    Quản lý quy trình tiếp nhận nhân sự dễ dàng,<br/> nhanh chóng. Với trình pipeline, dễ dàng kéo và <br/> thả dễ dàng và có thể tùy chỉnh tiến trình <br/> pipeline phù hợp với nhu cầu.
                </div>
            </div>
        </div>
    </section>
    <section class="h-sec-item-view">
        <div class="col-md-12 pd-0 h-single-section text-left hrm-v2-inline-block">
            <div class="section-infor pull-right h-single-section right">
                <div class="icon">
                    <i class="fas fa-user"></i>
                </div>
                <div class="title hrm-v2-bold">
                    Thủ tục tiếp nhận
                </div>
                <div class="dsc-title">
                    Hồ sơ thông tin nhân sự quản lý tập <br /> trung, dễ dàng tra cứu và cập nhật khi<br /> cần thiết
                </div>
            </div>
            <div class="section-img pull-right">
                <img src="@Url.Content("~/Content/Images/banner/checklist.png")" alt="check-list-hrm" />
            </div>
        </div>
    </section>
    <section class="h-sec-item-view">
        <div class="col-md-12 pd-0 h-single-section text-right hrm-v2-inline-block">
            <div class="section-img pull-right">
                <img src="@Url.Content("~/Content/Images/banner/welcomekit.png")" alt="well-come-kit-hrm" />
            </div>
            <div class="section-infor pull-right h-single-section left">
                <div class="icon">
                    <i class="fas fa-rocket"></i>
                </div>
                <div class="title hrm-v2-bold">
                    Welcome kit
                </div>
                <div class="dsc-title">
                   Bộ thông tin cơ bản
                </div>
            </div>
        </div>
    </section>
</div>