@{
    ViewBag.Title = " Timekeeping_ManagerVacation";
}


<div class="row" ng-controller="Timekeeping_ManagerVacation" ng-init="init()">
    @Html.Action("TimeKeepingServerSide", "Common")
   
</div>











