@model List<Hrm.Framework.Models.StaffModel>
<div class="onboarding-card drag-content">
    <div class="sort-icon">
        <i class="fas fa-grip-vertical"></i>
    </div>
    
    <div class="staff-information">
        <div class="staff-action"><i class="fas fa-ellipsis-v"></i><i class="fas fa-share"></i></div>
        <div class="staff-name">Nguyen Duc Dat</div>
        <div class="staff-classification">Lap trinh vien</div>
        <div class="staff-date"><i class="fas fa-rocket"></i>09/12/1992</div>
    </div>
</div>
