#ChangePassword .modal {
    opacity: 1 !important;
    display: block !important;
    bottom: unset !important;
}

#ChangePassword .modal-dialog {
    margin: 230px auto;
}

#ChangePassword .field-validation-error, #ChangePassword .field-validation-error {
    color: red;
    font-size: 12px;
}

#ChangePassword .required {
    font-size: 11px;
    color: red;
}

#ChangePassword .selected {
    color: #3a87ad !important;
    background-color: #d9edf7 !important;
    border-color: #bce8f1 !important;
}
#ChangePassword .selected1 {
    color: #3a87ad !important;
    background-color: #d9edf7 !important;
    border-color: #bce8f1 !important;
}
