@using Hrm.Framework.Helper
@using Hrm.Framework.Models
@{ 
    Layout = null;
}
<div class="change-password-container">
    <div class="hrm-v2-modal-header">Đổi mật khẩu</div>
    <div class="hrm-v2-modal-body">
        @Html.Partial(UrlHelpers.Template("_TextEditor.cshtml"), new TextEditorModel() { Name = "password", PlaceHolder = "Nhập mật khẩu mới", Type ="Password" , AngularModel = "MasterData.Name",IsAnimationLabel = true })
        @Html.Partial(UrlHelpers.Template("_TextEditor.cshtml"), new TextEditorModel() { Name = "", PlaceHolder = "Nhập lại mật khẩu mới", Type="Text", AngularModel = "MasterData.Name", IsAnimationLabel = true })
    </div>
    <div class="footer">
        <div class="footer-login">
            <div class="pull-right">
                <button type="submit" class="btn btn-primary hrm-v2-btn-close"  data-dismiss="modal">
                   Hủy bỏ
                </button>
                <button type="submit" class="btn btn-primary hrm-v2-btn-save">
                    Lưu
                </button>
            </div>
        </div>
    </div>
</div>