<div class="box-arrow-template hrm-v2-scroll pull-left">
    <div class="arrow-view orange">
        <div class="arrow-year">2019</div>
        <div class="section-arrown-line">
            <div class="connect-line">
                <span class="time">01/01/2019</span>
                <span class="point"></span>
            </div>
        </div>
        <div class="arrow-template-container ">
            <span>Điều chuyển vị trí</span>
            <div class="arrow-right"></div>
        </div>
        <div class="arrow-info">
            <span>Chuyển sang dự án X2</span>
            <a class="arrow-view-detail">Xem chi tiết</a>
        </div>
    </div>
    <div class="arrow-view green">
        <div class="section-arrown-line">
            <div class="connect-line">
                <span class="time">01/01/2019</span>
                <span class="point"></span>
            </div>
        </div>
        <div class="arrow-template-container ">
            <span>Onboard</span>
            <div class="arrow-right"></div>
        </div>
        <div class="arrow-info">
            <span>Chuyển dự án X2</span>
            <a class="arrow-view-detail">Xem chi tiết</a>
        </div>
    </div>
    <div class="arrow-view green">
        <div class="section-arrown-line">
            <div class="connect-line">
                <span class="time">01/01/2019</span>
                <span class="point"></span>
            </div>
        </div>
        <div class="arrow-template-container ">
            <span>Onboard</span>
            <div class="arrow-right"></div>
        </div>
        <div class="arrow-info">
            <span>Chuyển dự án X2</span>
            <a class="arrow-view-detail">Xem chi tiết</a>
        </div>
    </div>
    <div class="arrow-view green">
        <div class="arrow-year">2018</div>
        <div class="section-arrown-line">
            <div class="connect-line">
                <span class="time">01/01/2019</span>
                <span class="point"></span>
            </div>
        </div>
        <div class="arrow-template-container ">
            <span>Onboard</span>
            <div class="arrow-right"></div>
        </div>
        <div class="arrow-info">
            <span>Chuyển dự án X2</span>
            <a class="arrow-view-detail">Xem chi tiết</a>
        </div>
    </div>
</div>