@model Hrm.Framework.Models.IconPropertyModel
@{
    Layout = null;
}
<span class="property-info">
    <i class="@Model.Icon"></i><span class="property-info-text" style="@Model.StyleText">@Model.Text</span>
</span>

