@using Hrm.Framework.Models
@using Hrm.Framework.Helper
@{
    ViewBag.Title = "Onboarding";
    Layout = "~/Views/Shared/_MenuHome.cshtml";
}
<div class="col-md-12 bread-crumb hrm-f" style="padding-left: 60px">
    <a href="#" class="bread-crumb-sc hrm-v2-font-16">Tất cả tính năng</a><span class="bread-crumb-item">&nbsp; &gt; &nbsp;</span><a href="#" class="bread-crumb-item hrm-v2-font-16">Quản trị công</a>
</div>
<div class="wapper-container">
    <section class="h-sec-item-view">
        <h1 class="text-center ">Quản trị công</h1>
        <div class="col-md-12 pd-0 h-single-section text-right hrm-v2-inline-block">
            <div class="section-img pull-right">
                <img src="@Url.Content("~/Content/Images/banner/workingday.png")" alt="working-day-hrm" />
            </div>
            <div class="section-infor pull-right h-single-section left" style="margin-right: 60px">
                <div class="icon">
                    <i class="fas fa-calendar-check"></i>
                </div>
                <div class="title hrm-v2-bold">
                   Chấm công tự động
                </div>
                <div class="dsc-title">
                    Tối giản hóa quy trình chấm công và quản lý <br/> thời gian làm việc theo thời gian thực. Thông <br/> tin công minh bạch chính xác.
                </div>
            </div>
        </div>
    </section>
    <section class="h-sec-item-view">
        <div class="col-md-12 pd-0 h-single-section text-left hrm-v2-inline-block">
            <div class="section-infor pull-right h-single-section right">
                <div class="icon">
                    <i class="fas fa-calendar-check"></i>
                </div>
                <div class="title hrm-v2-bold">
                    Đề nghị bổ sung công kịp thời
                </div>
                <div class="dsc-title">
                  Nhân sự chủ động với bảng công cá <br/> nhân, chủ động bổ sung để nghị cập nhật <br/> thông tin công lên cấp kịp thời khi cần <br/> thiết.
                </div>
            </div>
            <div class="section-img pull-right">
                <img src="@Url.Content("~/Content/Images/banner/supplement.png")" alt="check-list-hrm" />
            </div>
        </div>
    </section>
    <section class="h-sec-item-view">
        <div class="col-md-12 pd-0 h-single-section text-right hrm-v2-inline-block">
            <div class="section-img pull-right">
                <img src="@Url.Content("~/Content/Images/banner/stepapprovel.png")" alt="step-approvel-hrm" />
            </div>
            <div class="section-infor pull-right h-single-section left">
                <div class="icon">
                    <i class="fas fa-calendar-check"></i>
                </div>
                <div class="title hrm-v2-bold">
                   Quy trình duyệt linh hoạt
                </div>
                <div class="dsc-title">
                   Linh hoạt tùy chỉnh quy trình duyệt đề <br/> nghị bổ sung công phù hợp với nghiệp vụ <br/> doanh nghiệp
                </div>
            </div>
        </div>
    </section>
</div>