<div class="modal fade mymodal hrmv2-modal" id="myModal" trole="dailog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content hrm-v2-scroll">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="font-size: 28px !important">&times;</span></button>
            <div class="modal-body" style="overflow:hidden;">
                <div id="contentModel"></div>
            </div>
        </div>
    </div>
</div>
<style>
  .hrmv2-modal .close:hover,.hrmv2-modal .close:focus,.hrmv2-modal button.close{
    width: 35px;
    height: 35px;
    position: absolute;
    top: -15px;
    right: -10px;
    background: #2CA01C;
    border-radius: 50%;
    opacity: 1;
    line-height: 35px;
    color: #fff;
    font-size: 14px;
    font-family: Roboto-Bold;
    cursor:pointer;
    outline:none;
    z-index:9;
    display:none;
    box-shadow: 0px 0px 2px 1px #dfdede;
    }
 .hrmv2-modal .modal-body{
     padding:25px 38px;
  }
</style>
@*<div class="minmaxCon"></div>*@
@*<style type="text/css">  
    .modalMinimize .fa.fa-minus{
        padding-top:6px;
        margin-right:10px;
    }
    .min{
        width: 250px; 
        height: 35px;
        overflow: hidden !important;
        padding: 0px !important;
        margin: 0px;    
        float: left;  
        position: static !important; 
      }
    .min .modal-dialog, .min .modal-content{
        height: 100%;
        width: 100%;
        margin: 0px !important;
        padding: 0px !important; 
      }

    .min .modal-header{
        height: 100%;
        width: 100%;
        margin: 0px !important;
        padding: 3px 5px !important; 
      }

    .display-none{display: none;}

    /*button .fa{
        font-size: 16px;
        margin-left: 10px;
      }*/

    .min .fa{
        font-size: 14px; 
      }
    .min .menuTab{display: none;}
    button:focus { outline: none; }
    .minmaxCon{
      height: 35px;
      bottom: 1px;
      left: 80px;
      position: fixed;
      right: 1px;
      z-index: 9999;
      width:0px;
    }
</style>*@
